html {
  scroll-snap-type: y mandatory;
  scroll-padding: calc(1.2rem + 30px);
}

.place-section {
  scroll-snap-type: y mandatory;
  scroll-padding: calc(1.2rem + 30px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: visible;
  height: calc（100vh - 1.2rem - 30px）;
  width: 70vw;
  margin: auto;
}

.place-container {
  background-color: white;
  border: 3px solid;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  height: calc(100vh - 1.2rem - 30px);
}

.place-container > img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70%;
  object-fit: scale-down;
}

.place-container a {
  color: var(--primary-text-color);
  font-size: 1.2rem;
}
